body {
  padding: 0;
  margin: 0;
  background-color: #171640;
}
.container {
  position: absolute;
  height: 31.25em;
  width: 31.25em;
  background-color: rgba(255, 255, 255, 0.05);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.center {
  transform: translateX(-50%);
  left: 50%;
}
.planet {
  height: 12.5em;
  width: 12.5em;
  background-color: #f5d201;
  border-radius: 50%;
  position: absolute;
  top: 2.81em;
  left: 13.75em;
}
.planet:before {
  position: absolute;
  content: "";
  background-color: #fcec8e;
  height: 1.25em;
  width: 6.87em;
  border-radius: 0.62em;
  top: 3em;
  left: 4.25em;
  box-shadow: 1.42em 3.65em 0 -0.25em #fcec8e, -1.25em 4.75em 0 0.12em #fcec8e;
}
.planet:after {
  position: absolute;
  content: "";
  background-color: #edb514;
  height: 0.75em;
  width: 2.5em;
  border-radius: 0.46em;
  top: 1.87em;
  left: 3em;
  box-shadow: -1.25em 3.75em 0 0.37em #edb514, 4.06em 8.43em 0 0.12em #edb514;
}
.shadow {
  position: absolute;
  background-color: transparent;
  box-shadow: 0.93em 0.93em rgba(134, 123, 5, 0.3);
  height: 12.5em;
  width: 12.5em;
  border-radius: 50%;
  bottom: 0.93em;
  right: 0.93em;
}
.astronaut {
  position: absolute;
  height: 17.5em;
  width: 15.62em;
  border: 1px solid #ffffff;
  top: 7.5em;
  left: 6.25em;
  transform: rotate(-30deg);
}
